<button mat-button [matMenuTriggerFor]="menu"><img src="assets/menu.png" height="40px" width="40px" /></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/orders']">My Orders</button>
  <button mat-menu-item>About</button>
  <button mat-menu-item (click)="logout()">Logout</button>

  <!-- protected for admin -->
  <a [routerLink]="['/dashboard']">
    <button mat-menu-item *ngIf="user!=null && user.role==='Admin'">Dashboard</button>
  </a>

  <!-- protected for sellers -->
  <a [routerLink]="['/inventory']">
    <button mat-menu-item *ngIf="user!=null && (user.role==='Admin' || user.role==='Seller')">My Inventory</button>
  </a>
</mat-menu>