<div class="max-w-md mx-auto bg-white rounded-xl overflow-hidden shadow-md. cursor-pointer" (click)="onClick()">
    <div class="md:flex">
      <div class="md:flex-shrink-0">
        <img class="w-full h-full object-cover md:w-48" src={{book.cover_image_url}} alt="Book Cover">
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{book.title}}</div>
        <p class="block mt-1 text-lg leading-tight font-medium text-black">{{book.description}}</p>
        <p class="mt-2 text-gray-500">Genre: {{book.genre.title}}</p>
        <p class="mt-2 text-gray-500">Pice: {{book.price}}</p>
        <div class="mt-4">
          <span class="text-sm font-medium text-gray-600">Published By: {{book.author}}</span>
        </div>
      </div>
    </div>
  </div>